<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}

















































    @keyframes float {
        0%, 100% {
            transform: translate(-10px, -10px);
        }
        50% {
            transform: translate(5px, 10px);
        }
    }
}
=======
// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here //
@import "./components/navbar";

@import "./pages/index";

@import "./pages/mercado-cripto";

@import "./pages/mercado-nfts";

@import "./pages/mis-ganancias";

@import "./pages/amigos";
>>>>>>> b7586dc1f243f22b9fa858b5bcce14126e5fe59b

